/* Select template animation  */
/* @keyframes cursor{
    50%{
        border-color: transparent;
    }
}

@keyframes typing{
    from{width: 0;}
} */
/* end */

/* navbar font */
@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@300&display=swap');
/* nameFONT */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

  @font-face {
    font-family: Futura;
    src: url(..font/Futura Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection {
    color: #fff;
    background-color: #000;
}

html, body {
    height: 100%;
    width: 100%;
}
.nav{
    display: flex;
    font-size: 5vh;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 36, 36);
    height:10vh;
    /* border: 2px solid green; */
}
.nav li a{
    
    color: white;
    text-decoration: none;
}
.nav li a:hover,
.nav li a:active {
    color: gray !important;
    text-decoration: underline !important;
}


.logo{
    display: flex;
    align-items: center;
    float: left;
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: small;
    font-weight: bold;
    color: #a1a1a1;
    /* border: 2px solid red; */
}
#mrblogo{
    height: 12vh;
}
li{
    display: inline;
    color: #ccc;
    font-size: large;
    margin-right: 4vh;
    font-family: 'Playpen Sans', cursive;
    letter-spacing: .5vh;
}
#page1 {
    min-height: 65vh;
    position: relative;
    width: 100%;
    padding: 0 1vw;
    padding-top: 20vh;
    background-image: url(background.png);
    background-size: cover;
    /* -webkit-filter: blur(8px);
    filter: blur(8px); */
    /* border: 2px solid yellowgreen; */
}

#page1 h1 {
    font-size: 12vw;
    text-transform: uppercase;
    font-family: Futura;
    line-height: 13vw;
    letter-spacing: -8px;
    /* border: 2px solid yellow; */
    
}

#page2{
    min-height: 0.1vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 3vw 1vw;
    justify-content: space-between;
    background-color: gray;
    /* border: 2px solid red; */
    
}
/* .textan{
    display: inline-block;
    position: relative;
    align-items: center;
    letter-spacing: 3vh;
    font-size: 6vh;
    font-family: monospace;
    font-weight: bold;
    color: black;
    border-right: 4px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:typing 2s steps(19) infinite alternate,cursor .4s step-end infinite alternate;                                                                                                                                                                                                                                                                                                                              
} */
#page2 .elem{
    height: 70vh;
    margin: 0;
    padding: 0;
    width: 30%;
    overflow: hidden;
    /* border: 2px solid green; */
    padding-top: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#page2 .elem img{
    min-height: 75vh;
    width: 70%;
    object-fit: contain;
    scale: 1.2;
    /* border: 2px solid blue; */

}
#page2 .elem .dets {
    display: flex;
    justify-content: center;
    height: 5vh;
    opacity: 75%;
    /* border: 2px solid red; */
    border-radius: 50px;
    width: 30vh;
    position: absolute;
    z-index: 9;
    background-color: rgb(0, 0, 0);
}
#page2 .elem .dets:hover{
    background-color: rgb(0, 0, 0);
}   
.preview{
    display: flex;
    align-items: center;
    font-size: 3vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.7vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    margin-left: 0.7vw;
    /* border: 2px solid black; */
    background-color: #000000;
    color: white;
    border-radius: 50vh;

}
.build{
    display: flex;
    align-items: center;
    font-size: 3vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.7vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    margin-left: 0.7vw;
    /* border: 2px solid black; */
    background-color: #000000;
    color: white;
    border-radius: 50vh;
}
.preview:hover{
    background-color: #484848;
    font-size: 3.5vh;
}
.build:hover{
    background-color: #484848;
    font-size: 3.5vh;
}
#dash{
    display: flex;
    color: rgb(188, 170, 170);
    font-size: 4vh;
    align-items: center;
    font-weight: bolder;
}
a{
    text-decoration: none;
}
/* Update the footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center; /* Center-align text in the footer */
}

.footer-section {
    margin: 10px; /* Add margin for spacing between sections */
}

.footer-bottom {
    padding: 10px 0;
    background-color: #222;
    margin-bottom:10vh;
}
footer {
    z-index: 999; /* Adjust the z-index as needed */
}

@media (max-width:600px) {
    #page1 {
        min-height: 20vh;
        width: 100%;
        padding: 0 1vw;
        padding-top: 20vh;
        background-size: contain;
    }
    #page2{
        min-height: 100vh;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0vw 0vw;
        flex-direction: column;
        justify-content: space-between;
        /* border: 2px solid red; */
        
    }
    #page2 .elem img{
        min-height: 2vh;
        width: 70%;
        
        object-fit:contain;
        scale: 1.2;
        /* border: 2px solid blue; */
    
    }
    #page2 .elem .dets {
        height: 3vh;
        opacity: 75%;
        /* border: 2px solid red; */
        border-radius: 50px;
        width: 30vh;
        position: absolute;
        z-index: 9;
        background-color: gray;
    }
    #page2 .elem .dets:hover{
        height: 5vh;
        background-color: rgb(128, 128, 128);
    }
        
}

/* preview image code  start :*/

/* CSS for the modal dialog */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    
    display: block;
    background-color: grey;
    margin: 0 auto;
    max-width: fit-content; /* Adjust the width as needed */
    max-height: 90vh; /* Adjust the height as needed */
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Close button for the modal */
.close {
    text-align: right;
}

/* Container for the image */
.image-container {
    justify-content: center;
    max-width: 55vh;
    max-height: 100vh;
    display: inline-block;
}

/* Image style to fit the modal */
#previewImage {
    max-width: 100%;
    max-height: 100%;
}

/* preview image code END : */

